.ai-container{
    background-color: #071a9458;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ai-card{
    background-color: white;
    border-radius: 10px;
    min-height: fit-content;
    height: auto;
    width: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    white-space: pre-wrap;  /* keeps line breaks */
    word-wrap: break-word;  /* old but useful */
    overflow-wrap: break-word;  /* modern */
}
.prompt{
    width: 100%;
    height: 100%;
    border: none;
    color: rgb(97, 97, 102);
}
.prompt:focus{
    border: none;
    outline: none;
}
.prompt-input{
    min-height: 9%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 5px;
    width: 70%;
    border: none;
    outline: none;
    font-size: 17px;
    color: rgb(97, 97, 102);
    padding: 10px;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;  /* vertical scroll */
    white-space: pre-wrap;      /* wrap text */
    word-wrap: break-word;      /* break long words */
    word-break: break-word;

}
.prompt-input:focus{
    outline: none;
}
.ask-button{
    outline: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
    color: white;
}
.ask-button:hover{
    outline: none;
    border: none;
    background-color:white;
    color:  #071a9458;
}
.ask-button:active{
    border: none;
    outline: none;
    background-color: white;
    color: #2b43e2;
}
.ai-buttons-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.ai-save-button, .ai-delete-button, .ai-edit-button{
    height: 65px;
    color: white;
}
.ai-save-button{
    background-color: #2b43e2;
}
.ai-delete-button{
    background-color: rgb(207, 4, 4);
}
.ai-edit-button{
    background-color: rgb(227, 227, 227);
    color: rgb(97, 97, 102);
}
