main{ 
    margin-top: 60px;
    padding: 25px 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(97, 97, 102);
    font-size: 18px;
}
.task-summary{
    background-color:#071a9458;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:  80%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.view-task-button{
    background-color: rgb(252, 252, 253);
    color: #2b43e2;
    width: 80%;
}
.view-task-button:active{
    outline: none;
}
.view-task-button:focus{
    outline: none;
}
.scrollable-div{
    display: flex;
    width: 100%;
    white-space: nowrap; /* prevents line breaks */
    overflow-x: auto;
    padding: 10px 0;
}
.scrollable-div::-webkit-scrollbar {
    appearance: none;
}
.task-progress-card{
    margin-right: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #071a9438;
    box-shadow: 0 3px 5px #071a9458;
    border-radius: 10px;
    cursor: pointer;
    flex-shrink: 0;
}
.in-progress{
    margin-bottom: 20px;
}
.task-group-name{
    font-size: 16px;
    margin: 0;
}
.project-name{
    font-weight: bold;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    margin: 10px 0;
    
}

progress {
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 8px;
    background-color: #ddd; /* track color */
}
progress::-webkit-progress-bar {
    border-radius: 8px;
    background-color: #ddd; /* track */
}
progress.personal-task::-webkit-progress-value {
    border-radius: 8px;
    background-color: #8a2be2; /* filled part */
}
progress.office-task::-webkit-progress-value {
    background-color: #fd738a;
    border-radius: 8px;
}
progress.home-task::-webkit-progress-value {
    background-color: #dc930b;
    border-radius: 8px;
}
.task-group-progress-bar{
    height: 50px;
    width: 50px;
}
.task-group-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #071a9438;
    box-shadow: 0 3px 5px #071a9458;
    cursor: pointer;
}
img{
    margin: auto;
    height: 20px;
}
.img-div{
    display: flex;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-right: 15px;
}
