form{
    margin-top: 20px;
    padding: 0 70px;
}
.back-arrow{
    height: 40px;
}
.input-field{
    width: 100%;
    border: 2px solid rgb(140, 140, 147) ;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;

}
.entry-field, .entry-label{
    width: 90%;
    margin: auto;
    border: none;
}
.entry-field{
    height: 40px;
    outline: none;
}
.entry-field:hover{
    background-color: rgba(97, 97, 102, 0.292);
    border-radius: 4px;
    outline: none;
}
.entry-field:active{
    outline: none;
    border: 1px solid #071a9438;
}
.entry-field:focus{
    outline: none;
}
.description{
    height: 90px;
}
.intensity{
    border: none;
}
.high-button, .medium-button, .low-button{
    width: 32%;
    height: 40px;
    margin: 0 3px;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}
.high-button{
    border-color: red;
    color: red;
}
.high-button:hover{
    background-color: rgba(255, 0, 0);
    color: white;
    border: none;
}
.medium-button{
    border-color: orange;
    color: orange;
}
.medium-button:hover{
    background-color: rgb(255, 166, 0);
    color: white;
    border: none;

}
.low-button{
    border-color: rgb(212, 212, 38);
    color: rgb(212, 212, 38);
}
.low-button:hover{
    background-color: rgb(241, 241, 70);
    color: white;
    border: none;
}
.ai-included{
    margin: 0;
}
.add-task-button{
    background-color: #2b43e2;
    color: white;
    width: 35%;
    margin: auto;
    font-size: 18px;
    height: 100%;
    border: none;
    border-radius: 5px;
}
.AI-button{
    background-color: #2b43e2;
    font-size: 18px;
    height: 100%;
    color: white;
    border: none;
    outline: none;
    width: 35%;
}
.AI-button:hover{
    background-color: #071a9458;
    color: white;
    border: none;
    outline: none;
}
.AI-button:focus{
    outline: none;
}
.AI-button:active{
    background-color: white;
    color: #2b43e2;
    border: none;
    outline: none;
}
.add-task-button-div{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.high-clicked-intensity{
    opacity: 0.5;
    background-color: red;
    color: white;
    border: none;
}
.medium-clicked-intensity{
    opacity: 0.5;
    background-color: orange;
    border: none;
    color: white;
}
.low-clicked-intensity{
    opacity: 0.5;
    background-color: yellow;
    border: none;
    color: white;
}
.ai-assistant-instruction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 90%;
    margin: auto;
}
.instruction-span{
    width: 100%;
    text-align: center;
    margin: 0px auto 10px;
}
.instruction-span{
    font-weight: bold;
    animation: button-pulse 2.5s infinite alternate;
}
@keyframes button-pulse {
    from{
        color: #071a9438;
    }
    to{
        color: #2b43e2;
    }
}