form{
    margin-top: 20px;
}
.back-arrow{
    height: 40px;
}
.input-field{
    width: 100%;
    border: 2px solid;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}
.entry-field, .entry-label{
    width: 90%;
    margin: auto;
    border: none;
}
.entry-label{
    color: black;
}
.entry-field{
    height: 40px;
    outline: none;
}
.entry-field:hover{
    border-radius: 4px;
    outline: none;
}
.entry-field:active{
    outline: none;
}
.entry-field:focus{
    outline: none;
}
.description{
    height: 90px;
}
.intensity{
    border: none;
}
.intensity-div{
    display: flex;
    justify-content: center;
}
.high-button, .medium-button, .low-button{
    height: 40px;
    width: 30%;
    margin: 0 3px;
    padding: 0 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}
.high-button{
    border: solid 2px red;
    color: red;
}
.high-button:hover{
    background-color: rgba(255, 0, 0);
    color: white;
    border: none;
}
.medium-button{
    border: solid 2px orange;
    color: orange;
}
.medium-button:hover{
    background-color: rgb(255, 166, 0);
    color: white;
    border: none;

}
.low-button{
    border: solid 2px rgb(154, 154, 10);
    color: rgb(154, 154, 10);
}
.low-button:hover{
    background-color: rgb(154, 154, 10);
    color: white;
    border: none;
}
.ai-included{
    margin: 0;
}
.add-task-button{
    background-color: #2b43e2;
    color: white;
    margin: auto;
    height: 100%;
    border: none;
    border-radius: 5px;
}
.AI-button{
    background-color: #2b43e2;
    height: 100%;
    color: white;
    border: none;
    outline: none;
}
.AI-button:hover{
    background-color: #071a9458;
    color: white;
    border: none;
    outline: none;
}
.AI-button:focus{
    outline: none;
}
.AI-button:active{
    background-color: white;
    color: #2b43e2;
    border: none;
    outline: none;
}
.add-task-button-div{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.high-clicked-intensity{
    opacity: 0.5;
    background-color: red;
    color: white;
    border: none;
}
.medium-clicked-intensity{
    opacity: 0.5;
    background-color: orange;
    border: none;
    color: white;
}
.low-clicked-intensity{
    opacity: 0.5;
    background-color: rgb(215, 215, 23);
    border: none;
    color: white;
}
.ai-assistant-instruction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 90%;
    margin: auto;
}
.instruction-span{
    width: 100%;
    text-align: center;
    margin: 0px auto 10px;
    font-weight: bold;
    animation: button-pulse 2.5s infinite alternate;
}
@keyframes button-pulse {
    from{
        color: #071a9438;
    }
    to{
        color: #2b43e2;
    }
}
