.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 10px;
}
.app-logo{
    height: 60px;
    margin-right: 10px;
}
.login-form, .register-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: auto;
    background-color: #071a9420;
    box-shadow: inset 0 3px 6px #071a9458;
}
.password-div{
    height: 20%;
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.email-div {
    height: 20%;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}.password-instruction{
    color: #2b43e2;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.password, .before-password{
    height: 40px;
    width: 94%;
    font-size: 20px;
    border: none;
    box-shadow: 0 3px 6px #071a9458;
    color: rgb(97, 97, 102);
    padding-left: 30px;
}
.before-password{
    width: 100%;
}
.authentication-input{
    height: 55px;
    width: 90%;
    border: none;
    box-shadow: 0 3px 6px #071a9458;
    color: rgb(97, 97, 102);
    padding-left: 30px;
    margin-bottom: 20px;
}
.email{
    height: 45px;
    width: 85%;
}
.authentication-input:focus, .password:focus, .before-password:focus{
    box-shadow: inset 0 3px 6px #071a9458;
    color: rgb(97, 97, 102);
    outline: none;
}
.submit-button{
    height: 45px;
    background-color: #2b43e2;
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    padding: 10px;
    box-shadow: 0 3px 6px #071a9458;
    cursor: pointer;
    margin-top: 10px;
}
.authenticate{
    color: white;
    text-shadow: 2px 2px 3px #071a9458;
    font-size: 30px;
}
a{
    margin: 0;
}

.forgot-password{
    font-size: 15px;
    margin-bottom: 15px;
}
.recovery{
    margin-bottom: 60px;
}

