.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16%;
    padding: 10px;
}
.app-logo{
    height: 60px;
    margin-right: 10px;
}
.login-form, .register-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90%;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    background-color: #071a9420;
    box-shadow: inset 0 3px 6px #071a9458;
}
.password-div{
    height: 20%;
    width: 70%;
}
.email-div {
    height: 20%;
    width: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.password-instruction{
    font-size: 16px;
    color: #2b43e2;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}
.password, .before-password{
    height: 50%;
    width: 94%;
    font-size: 20px;
    border: none;
    box-shadow: 0 3px 6px #071a9458;
    color: rgb(97, 97, 102);
    padding-left: 30px;
}
.before-password{
    width: 100%;
}
.authentication-input{
    height: 10%;
    width: 70%;
    font-size: 20px;
    border: none;
    box-shadow: 0 3px 6px #071a9458;
    color: rgb(97, 97, 102);
    padding-left: 30px;
}
.email{
    height: 45px;
    width: 85%;
}
.authentication-input:focus, .password:focus, .before-password:focus{
    box-shadow: inset 0 3px 6px #071a9458;
    color: rgb(97, 97, 102);
    outline: none;
}
.submit-button{
    width: 25%;
    height: 45px;
    background-color: #2b43e2;
    color: white;
    border: none;
    box-shadow: 0 3px 6px #071a9458;
    cursor: pointer;
}
.authenticate{
    color: white;
    text-shadow: 2px 2px 3px #071a9458;
    font-size: 30px;
}
a{
    margin: 0;
}

.forgot-password{
    font-size: 15px;
}

