nav{
    display: flex;
    justify-content: center;
}
.tab{
    padding: 10px 40px;
    background-color: white;
    color: rgb(97, 97, 102);
    font-size: 17px;
    outline: none;
    border: none;
}
.tab:focus{
    outline: none;
}
.clicked-tab{
    background-color: #2b43e2;
    border: none;
    color: white;
    outline: none;
} 
.clicked-tab:focus{
    outline: none;
}
.tab:active, .clicked-tab:active{
    outline: none;
    border: none;
}
.todo-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    border-radius: 10px;
    padding: 10px 20px;
    width: 80%;
    border: 2px solid #071a9438;
    box-shadow: 0 3px 5px #071a9458;
    cursor: pointer;
}
.date-time-div{
    display: flex;
    align-items: center;
}
.date-time{
    color: #2b43e2;
    font-size: 12px;
    margin-left: 10px;
}
.status{
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}
.status-div{
    display: flex;
    padding: 5px;
    border-radius: 12px;
    margin-right: 15px;
}
.todo-list{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.expanded-todo-card, .contracted-todo-card{
    display: flex;
    margin-top: 30px;
    padding: 10px 20px;
    width: 100%;
}
.contracted-todo-card{
    justify-content: center;
}
.highlight{
    background-color: #071a9412;
} 
.calender-div{
    width: 20%;
}
.calender {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 7px;
    width: 100%;
    margin-left: 30px;
}
.calendar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #f3f4f6;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
    position: relative;
    cursor: pointer;
}
.date{
    margin: 0;
    padding: 0;
    text-align: center;
}
.today-box {
    background: #2b43e2;
    color: white;
    border: none;
    font-weight: 600;
    animation: pulse 1s infinite alternate;
}
@keyframes pulse {
    from {
        transform: scale(1);
        opacity: .9;
    }
    to {
        transform: scale(1.05);
        opacity: 1;
    }
}
.check{
    color: #fbfbfb82;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #2b43e289;
    border-radius: inherit;
}
.times{
    color: #fbfbfb82;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #e22b2b89;
    border-radius: inherit;
}
.search-bar{
    width: 78%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 15px;
    box-shadow: 0 0.5px 2px #071a9458;
}
.search-bar-input:focus{
    border: 1px #071a9458 solid;
    outline: none;
    box-shadow: inset 0 2px 4px #071a9458;
}
.search-bar-input:active{
    outline: none;
    border: none;
}
.date-extension{
    color: #2b43e2;
    font-size: 13px;
    text-decoration: underline;
    margin: 6px 0 0;
    font-weight: bolder;
    text-align: center;
}
.task-completed{
    color: #2b43e2;
    font-size: 13px;
    text-decoration: underline;
    margin:4px 0 0;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}
.critical{
    color: white;
    animation-name: critical;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
}
@keyframes critical {
    0% {
        background-color: white; /* Initial text color */
    }
    50% {
        background-color: red; /* Flashing text color */
    }
    100% {
        background-color: white; /* Return to initial color */
    }
}
.check-in-instruction{
    font-size: 18px;
    font-weight: bolder;
    color: #2b43e2;
    margin-top: 20px;
    padding: 0;
    text-align: center;
}
.specific-instruction{
    margin-left: 25px;
}